<div class="content">
  <h3>以下の内容で、送信する。</h3>
  <%= form_with(model: @blog, local: true) do |form| %>
    <%= form.hidden_field :content %>
    <p><%= @clone.content %></p>
    <%= form.submit  "tweet" %>
  <% end %>


</div>
