<h2>編集画面</h2>
<div class="content">

  <%= form_with(model: @clone, local: true) do |form| %>

  <%= form.label :content %>
  <br>
  <%= form.text_area :content %>
  </br>
  <%= form.submit value="更新" %>
  <% end %>
</div>
