.left-bar{
    background-color:#F3A7AB;
    color:#fff;
    padding:10% 10%;
    box-sizing: border-box;
    border: solid 1px #fff;
    margin-bottom: 65px;
}
.right-bar{
    background-color:#DCDCDC;
    color:#fff;
    padding:10% 10%;
    box-sizing: border-box;
    border: solid 1px #fff;
    margin-bottom: 65px;
}
